*.o
*.kdev4
*~
*/build/
*.swp
*/.kdev4/
*.a
*.so
*.dll
*.lib
*.kate-swp
*/.directory
*/*/.directory
*/*/*/.directory
*/*/*/*/.directory
*/*/*/*/*/.directory
build
extern
cppcheck-result.xml
doc/
build_report.log
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
.cproject
.project
eclipse
gen-data
*-data-*
octave-workspace
*.dylib
*.data
__pycache__
time_elapsed
