*.o
*.kdev4
*~
*/build/
*.swp
*/.kdev4/
*.a
*.so
*.dll
*.lib
*.kate-swp
*/.directory
*/*/.directory
*/*/*/.directory
*/*/*/*/.directory
*/*/*/*/*/.directory
build
extern
cppcheck-result.xml
doc/
build_report.log
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
.cproject
.project
eclipse
gen-data
*.toc
*.log
*.bbl
*.blg
*.out
*.aux
*.gz
*.backup
.backup
*.pdf
*.cb[0-9]*
*.cb
